* {
    font-family: 'Montserrat', sans-serif;
}

#search-form {
    margin-top: 100px;
}

#search-form h1 {
    font-size: 2rem;
}

#aboutMe {
    padding: 0 10% 80px;
    text-align: left;
}

.typl8-drop-cap:first-letter {
    float: left;
    margin: 0;
    padding: 0.125em 0.125em 0em 0;
    font-size: 4em;
    line-height: 0.5;
    text-indent: 0;
    color: #7C9C7C;
}

.skills{
    padding-right: 12%;
}

.mypic {
    padding-left: 12%;

}

.contain {
    margin-bottom: 100px;
}

.about-section {
    padding-top: 50px;
}

.portfolio-section {
    background-color: #F9F9F7;
    padding-top: 50px;
    padding-left: 15px;
    padding-bottom: 120px;
}

.photo {
    width: 40%;
    height: auto;
    margin-left: 12%;
}
