.tinyImg {
    width: 55px;
    height: 55px;
    margin-right: 15px;
}

.tinyImg:hover {
    background-color: white;
    border-radius: 50px;
}

.footer {
    background-color: #37393e;
    padding-top: 45px;
    padding-bottom: 45px;
}

#footName {
    color: grey;
}
#highlight {
    color: #7C9C7C;
}